[Unit]
Description=Keep a tunnel to '{{ control_hostname }}' open, reverse ssh port & prometheus port
After=network.target

[Service]
User={{ ansible_user }}
ExecStart=/usr/bin/autossh -N -R *:{{ ssh_remote_port }}:localhost:22 -R {{ prometheus_remote_port }}:localhost:9090 autossh@{{ control_hostname }}

[Install]
WantedBy=multi-user.target
