{
	"gateway_conf": {
		"gateway_ID": "{{ gateway_eui|upper }}",
		"servers": [{
			"server_address": "{{ ttn_server_address }}",
			"serv_port_up": {{ ttn_server_port_up }},
			"serv_port_down": {{ ttn_server_port_down }},
			"serv_enabled": true
		}],
		"ref_latitude": {{ gateway_lat }},
		"ref_longitude": {{ gateway_lon }},
		"ref_altitude": {{ gateway_alt }},
		"contact_email": "{{ gateway_email }}",
		"description": "{{ gateway_name }}"
	}
}
